.main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 0%, rgba(101,59,140,1) 100%);
}

.main-container{
    margin-top: 4%;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    &__header{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('../../../public/pngegg.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }
    &__results{
        -moz-box-shadow: inset 10px 10px 50px #fff;
        -webkit-box-shadow: inset 10px 10px 50px #fff;
        box-shadow: inset 10px 10px 50px #fff;
        & h1{
            color: #f04940;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 480px) {
    .main-container{
        width: 100%;
        &__header{
            display: flex;
            flex-direction: column;
        }
    }
}

