.home{
    display: flex;
    flex-direction: column;

    &__users{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }

}

