.dashboard{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    height: auto;
    &__favpoke{
        width: 30%;
        height: auto;
        &-header{
            width: 100%;
            height: 50%;
            background-image: url('../../../public/pngegg.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        &-list{
            margin-top: 3%;
        }
    }
    &__profile{
        margin-top: 3%;
        width: 30%;
        &-data{
            color: #8e47d1;
        }
    }
}
@media screen and (max-width: 480px) {
    .dashboard{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__profile{
            width: 80%;
            -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
        }
        &__favpoke{
            width: 80%;
            margin-top: 5%;
        }
    }
}
.register-error{
    margin-top: 2%;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}