.pokemonFinder{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #2EA0CE;
    font-weight: bold;

    &-input{
        background-color: #30A7D7;
        color: white;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
        border-radius: 5px;
        padding: 2%;
    }
    &-results{
        &-delete{
            & button{
                border: none;
                background: none;
                color: red;
                font-size: 2.5rem;
            }
        }
        &-poke{
            margin: 2% 0 2% 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border:2px solid #fff;
            -moz-box-shadow: inset 10px 10px 50px #fff;
            -webkit-box-shadow: inset 10px 10px 50px #fff;
            box-shadow: inset 10px 10px 50px #fff;
        }
    }

}
