.pokemon-detail{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 0%, rgba(101,59,140,1) 100%);
    &__poke{
        margin-top: 10%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border:2px solid #fff;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        background-image: url('../../../public/4907157.jpg');
        text-transform: uppercase;
        &-img{
            justify-content: center;
            align-items: center;
            width: 25%;
            height: auto;
            & img{
                width: 100%;
                height: 100%;
            }
        }
        &-data{
            font-weight: bold;
            & span{
                color:rgb(255, 123, 0);
            }
        }
    }
    &__experience{
        background: rgba(255,255,255,0.1);
        justify-content: flex-start;
        flex-direction: column;
        border-radius: 100px;
        align-items: center;
        position: relative;
        padding: 0 5px;
        display: flex;
        height: 40px;
        width: 300px;
        &-progress{
            display: flex;
            justify-content: center;
            align-items: center;
            animation: loadMax 3s normal forwards;
            box-shadow: 0 10px 40px -10px rgb(255, 123, 0);
            border-radius: 100px;
            background: rgb(255, 123, 0);
            height: 30px;
            width: 0;
            & p {
                display: flex;
                align-items: center;
                color: white;
            }
            @keyframes loadMax {
                0% { width: 0; }
                100% { width: 90%; }
            }
        }
        &-progress-min{
            display: flex;
            justify-content: center;
            align-items: center;
            animation: loadMin 3s normal forwards;
            box-shadow: 0 10px 40px -10px rgb(255, 123, 0);
            border-radius: 100px;
            background: rgb(255, 123, 0);
            height: 30px;
            width: 0;
            & p {
                display: flex;
                align-items: center;
                color: white;
            }
            @keyframes loadMin {
                0% { width: 0; }
                100% { width: 50%; }
            }
        }

    }
}