*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container__results{
    width: 100%;
    height: auto;
    margin-top: 3%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    background-image: url('../../../public/4907157.jpg');
    background-size: cover;
    border-radius: 4px;
    &-poke{
        margin-top: 2%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.pokemon-list{
    width: 48%;
    height: 150px;
    margin: 1%;
    border: 1px solid black;
    opacity: 100;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2EA0CE;
    font-weight: bold;
    border:2px solid #fff;
    -moz-box-shadow: inset 10px 10px 50px #fff;
    -webkit-box-shadow: inset 10px 10px 50px #fff;
    box-shadow: inset 10px 10px 50px #fff;
    justify-content: center;
    &-btn{
        margin-top: 1%;
        border: none;
        color: #5E3782;
        background: none;
    }
    &__container__btn{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;

        &-imgLink{
            margin-top: 2%;
            width: 35%;
            height: 90%;
            border-radius: 50%;
            background-image: url('../../../public/pokebola.png');
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            & a{
                text-decoration: none;
                color: black;
            }
            & a:hover{
                color: white;
                transition: 0.5s;
            }
        }
        &-imgLink:hover{
            -webkit-box-shadow: 0px 0px 10px 6px #f04940;
            -moz-box-shadow: 0px 0px 10px 6px #f04940;
            box-shadow: 0px 0px 10px 6px #f04940;
            transition: 0.5s;
        }
    }
}

.pokemon-list:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    color: #39b6e7;
    transition: 0.7s ease;
}


.alert-fav{
    position: absolute;
    bottom: 0;
    right: 0;
}