@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Changa&family=Open+Sans:wght@600&display=swap');
*{
  font-family: 'Changa', sans-serif;
}
.App {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.header{
  min-width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 0%, rgba(101,59,140,1) 100%);
  padding: 7px;
  font-size: 1.5rem;
  &__link{
    width: 100%;
    &-home, &-pokedex,&-profile, &-about{
      width: 25%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px 30px 5px 30px;
      -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
      & a{
        text-decoration: none;
        color: white;
      }
      & a:hover{
        color: yellow;
        transition: 0.5s;
      }
      &-active{
        background-color: yellow;
      }
    }
    &-home:hover, &-pokedex:hover, &-profile:hover, &-about:hover{
      -webkit-box-shadow: 0px 0px 15px 0px red;
      -moz-box-shadow: 0px 0px 15px 0px red;
      box-shadow: 0px 0px 15px 0px red;

    }
  }
}
@media screen and (max-width: 800px) {
  .header{
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 480px) {
  .header{
    width: 100%;
    height: 200px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    &__link{
      width: 100%;
      &-home, &-pokedex, &-about{
        width: 70%;
        height: 100%;
        margin: 10px 25px 10px 25px;
      }
    }
  }
}

.login{
  position: absolute;
  margin: 5px 10px 0px 0px;
  right: 0;
  & a{
    text-decoration: none;
    color: white;
  }
}