.notFound{
    width: 100%;
    height: 400px;
    background-image: url('../../../public/404.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    & h4{
        margin-top: 5%;
    }
}