.footer{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    -webkit-box-shadow: 0px 0px 15px 0px white;
    -moz-box-shadow: 0px 0px 15px 0px white;
    box-shadow: 0px 0px 15px 0px white;
    background: rgb(255,255,255);

    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 0%, rgba(101,59,140,1) 100%);
    &__socials{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
        &-instagram{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}