.random{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &-img{
        margin-left: 10px;
        width: 10%;
        height: 50px;
        background-image: url('../../../public/5a350f4cb50a21.7036163715134267647415.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}


@media screen and (max-width: 480px) {
    .random{
        margin-top: 5%;
        width: 100%;
        &-img{
            display: none;
        }
    }
}