.form{
    margin-top: 10%;
    color: black;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    &__login{
        margin-top: 3%;
        width: 50%;
        -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
        & form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            border-bottom: 1px solid #8e47d1;
            & button{
                margin-top: 10%;
            }
            & label{
                margin-top: 5%;
            }
        }
        & button{
            margin: 4% 0% 2% 0%;
        }
        &-register{
            & button{
                border: none;
                background: none;
                color: #8e47d1;
            }
        }
    }
}