.register{
    margin-top: 5%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    padding: 5%;
    -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
    &-input{
        margin: 3%;
    }
    &-btn{
        padding: 5%;
        margin-top: 10%;
        border-radius: 5px;
        border-color: #5E3782;
    }

    &__login{
        & button{
            margin-top: 10%;
            border: none;
            background: none;
            color: #5E3782;
        }

    }
}